{% load url from future %}

<h2 class="text-right">Competition</h2>
<ul class="nav nav-tabs nav-stacked">
  <li>
    <a href="{% url 'competition_detail' competition.slug %}">
      Competition Details
    </a>
  </li>
</ul>

<h2 class="text-right">Teams</h2>
<ul class="nav nav-tabs nav-stacked">
  <li>
    <a href="{% url 'team_list' competition.slug %}">
      All Teams
    </a>
  </li>
  <li>
    {% if not user_team %}
      <a href="{% url 'team_create' competition.slug %}">
        Create Team
      </a>
    {% else %}
      <a href="{{ user_team.get_absolute_url }}">
        My Team
      </a>
    {% endif %}
  </li>
  <li>
    <a href="{% url 'team_leave' competition.slug %}">
      Leave Team
    </a>
  </li>
</ul>

<h2 class="text-right">Registration</h2>
<ul class="nav nav-tabs nav-stacked" style="margin-top:20px;">
  <li>
    <a href="{% url 'unregister_for' competition.slug %}">
      Unregister
    </a>
  </li>
</ul>
