{% load competition_tags %}

<h2 class="text-right">Teams</h2>
<ul id="team-nav" class="nav nav-pills nav-stacked">
  <li>
    <a href="{% url 'team_list' competition.slug %}">
      <i class="icon-th-list"></i>
      All Teams <span class="badge badge-info pull-right">{% team_count competition %}</span>
    </a>
  </li>
  <li>
    <a href="{% url 'freeagent_list' competition.slug %}">
      <i class="glyphicon glyphicon-bullhorn"></i>
      Free Agents <span class="badge badge-info pull-right">{% freeagent_count competition %}</span>
    </a>
  </li>
  {% if not user_team %}
    {% if competition.is_open %}
      <li>
        <a href="{% url 'team_create' competition.slug %}">
          <i class="glyphicon glyphicon-plus"></i>
          Create Team
        </a>
      </li>
    {% endif %}
  {% else %}
    <li>
      <a href="{{ user_team.get_absolute_url }}">
        <i class="glyphicon glyphicon-user"></i>
        My Team
      </a>
    </li>
    {% if competition.is_open %}
      <li>
        <a data-toggle="modal" data-target="#leaveTeamModal" href="#">
          <i class="glyphicon glyphicon-remove"></i>
          Leave Team
        </a>
      </li>
    {% endif %}
  {% endif %}
</ul>

{# Oh my glob. #}
{% with team=user_team.name %}
  {% with body="Are you sure you want to leave "|add:team|add:"?" %}
    {% url 'team_leave' competition.slug as leave_team%}
    {% include "competition/_confirmation_modal.html" with id="leaveTeamModal" title="Leave Team?" body=body action=leave_team %}
  {% endwith %}
{% endwith %}
