{% load competition_tags %}

<div class="well">
  <div class="row">
    <!-- The Well with the deets -->
    <div class="col-xs-8">
      <h2>{{ team.name }}</h2>
      <h4 class="tex-muted">Formed {{ team.created }}</h4>
      <ul class="nav nav-pills nav-stacked">
        {% for member in team.members.all %}
        <li>
          <a href="{{ member.get_absolute_url }}">{% competitor_name member %}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-xs-4">
      <a href="/qr/{{ team.qr_filename }}" class="btn btn-primary pull-right">
        <i class="glyphicon glyphicon-qrcode"></i>
      </a>
      {% if on_team %}
        <h3>Team Status</h3>
        {% include "competition/team/_team_status.html" %}
      {% endif %}
    </div>
  </div>
</div>
