<div class="row">
  <div class="span{% if team.avatar %}6{% else %}9{% endif %}">
    <div class="well">
      <div class="row">
        <div class="span6">
          <h2>
            {{ team.name }}
          </h2>
          <h4>Joined {{ team.created }}</h4>
          <ul class="nav nav-pills nav-stacked">
            {% for member in team.members.all %}
              <li>
                <a href="{{ member.get_absolute_url }}">
                  {{ member }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% if on_team %}
          <div class="span2 pull-right">
            <h2>Your team!</h2>
            {% if team.eligible_to_win %}
              <span class="label label-success">Eligible to win prizes</span>
            {% else %}
              <span class="label label-important">Ineligible to win prizes</span>
            {% endif %}
            {% if team.paid %}
              <span class="label label-success">
                Paid up {% if team.time_paid %} at {{ team.time_paid }}{% endif %}
              </span>
            {% endif %}
            {% if team.num_invites_left == 0 %}
              <span class="label label-warning">
                Out of invites
              </span>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if team.avatar %}
    <div class="span3">
      <img src="{{ team.avatar.thumbnail.url }}" class="img-polaroid" />
    </div>
  {% endif %}
</div>
