<ul class="list-unstyled">
  {% if team.eligible_to_win %}
    <li>
      <a id="eligible" href="#" data-toggle="tooltip"
         title="Your team is presently eligible to win prizes">
        <span class="label label-success">Eligible to win prizes</span>
      </a>
    </li>
  {% else %}
    <li>
      <a id="ineligible" href="#" data-toggle="tooltip"
         title="Your team is presently not eligible to win prizes">
        <span class="label label-important">Ineligible to win prizes</span>
      </a>
    </li>
  {% endif %}

  {% if team.paid %}
    <li>
      <a id="paid-up" href="#" data-toggle="tooltip"
         title="Your team has fully paid!">
        <span class="label label-success">
          Paid up {% if team.time_paid %} at {{ team.time_paid }}{% endif %}
        </span>
      </a>
    </li>
  {% endif %}

  {% if team.num_invites_left == 0 %}
    <li>
      <a id="out-of-invites" href="#" data-toggle="tooltip"
         title="Your team has maxed out its number of sent invites for now. Wait until invitees respond or someone leaves.">
        <span class="label label-warning">
          Out of invites
        </span>
      </a>
    </li>
  {% endif %}

  {% if team.members.count == team.competition.max_num_team_members %}
    <li>
      <a id="full-team" href="#" data-toggle="tooltip" title="Your team is full">
        <span class="label label-warning">
          Full team!
        </span>
      </a>
    </li>
  {% endif %}
</ul>
