{% extends "competition/competition_base.html" %}

{% block content %}
  <h2>Free Agents</h2>
  <form class="form-inline">
    <label>Search:</label>
    <input type="text" data-provide="typeahead">
    <input type="submit" name="submit" value="Submit">
  </form>
  <ul class="nav nav-tabs nav-stacked">
    {% for user in users %}
      <li>
        <a href="{{ user.get_absolute_url }}">
          {% if user.get_full_name %}
            {{user.get_full_name}} (
          {% endif %}    
          {{ user.username }}
          {% if user.get_full_name %}
            )
          {% endif %}    
        </a>
      </li>
    {% empty %}
      <h3 class="text-center">No free agents</h3>
    {% endfor %}
  </ul>

{% include "competition/_paginator.html" with page=page_obj %}
{% endblock %}
