{% extends "competition/competition_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% url 'unregister_for competition.slug' as form_action %}
  <form action="{{ form_action }}" class="form-horizontal" method="post">
    {% csrf_token %}

    {% for field in form %}
      <div class="control-group">
        <p>{{question}}</p>
        <label>{{ field.errors }}</label>

        <label class="checkbox">
          {{ field }} {{ field.label }}
        </label>
      </div>
    {% endfor %}

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}
