{# This form expects a "wizard" variable and a "form_action" variable #}
{# "wizard" should be the form wizard object #}
{# "form_action" should be the url to post the completed form to #}

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="{{ form_action }}" method="post">{% csrf_token %}
  <table>
  	{{ wizard.management_form }}
  	{% if wizard.form.forms %}
  	  {{ wizard.form.management_form }}
  	  {% for form in wizard.form.forms %}
        {{ form }}
  	  {% endfor %}
  	{% else %}
  	  {{ wizard.form }}
  	{% endif %}
  </table>
  {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">First step</button>
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous step</button>
  {% endif %}
  <input type="submit" value="Submit"/>
</form>

