{% load competition_tags %}

<table class="table table-condensed table-hover table-border">
  <thead>
  </thead>

  <tbody>
    <tr>
      <th>Starting Time</th>
      <td>{{ competition.start_time }}</td>
    </tr>
    <tr>
      <th>Ending Time</th>
      <td>{{ competition.end_time }}</td>
    </tr>
    <tr>
      <th>Is open?</th>
      <td>
        <span class="label label-{% if competition.is_open %}success{% else %}danger{% endif %}">
          {{ competition.is_open|yesno:"Yep!,Nope.," }}
        </span>
      </td>
    </tr>
    <tr>
      <th>Is running?</th>
      <td>
        <span class="label label-{% if competition.is_running %}success{% else %}danger{% endif %}">
          {{ competition.is_running|yesno:"Yep!,Nope.," }}
        </span>
      </td>
    </tr>
    <tr>
      {% if competition.payment_option == competition.PER_PERSON_PAYMENT %}
        <th>Cost per person:</th>
      {% endif %}
      {% if competition.payment_option == competition.PER_TEAM_PAYMENT %}
        <th>Cost per team:</th>
      {% endif %}
      <td>${{ competition.cost|floatformat:2 }}</td>
    </tr>
    {% if competition.min_num_team_members == competition.max_num_team_members %}
      <tr>
        <th>Team size</th>
        <td>{{ competition.min_num_team_members }}</td>
      </tr>
    {% else %}
      <tr>
        <th>Minimum team size</th>
        <td>{{ competition.min_num_team_members }}</td>
      </tr>
      <tr>
        <th>Maximum team size</th>
        <td>{{ competition.max_num_team_members }}</td>
      </tr>
    {% endif %}
      <tr>
        <th>Number of registered competitors</th>
        <td>{% registered_users_count competition %}</td>
      </tr>
  </tbody>
</table>
