{% extends "base.html" %}
{% load competition_tags %}

{% block page-header %}
  <div class="page-header">
    <h1>Competitions</h1>
  </div>
{% endblock %}

{% block content %}
  <ul class="nav nav-pills nav-stacked">
    {% for competition in competitions %}
      <li>
        <a href="{{ competition.get_absolute_url }}">
          {{ competition.name }}
        </a>
      </li>
    {% empty %}
      <h2>No competitions, yet.</h2>
    {% endfor %}
  </ul>

{% include "competition/_paginator.html" with page=page_obj %}
{% endblock %}
