{% extends "competition/competition_base.html" %}
{% load url from future %}

{% block page-header %}
  <div class="page-header" style="margin-top:20px;">
    <div class="row">
      <div class="span7">
        <h1>{{ competition.name }}</h1>
      </div>
      <div class="span2">
        <a class="btn btn-primary btn-large pull-right"
           href="{% url 'register_for' competition.slug %}">
           Register now!
        </a>
      </div>
    </div>
    <p style="font-size:16px;">
      <i>{{ competition.description }}</i>
    </p>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    {% if competition.avatar %}
      <div class="span5">
        <a href="{{ competition.avatar.image.url }}">
          <img src="{{ competition.avatar.image.url }}"
               class="img-polaroid" alt="{{ competition.name }}" />
        </a>
      </div>
    {% endif %}
    <div class="span4">
      <h2>Details</h2>
      {% include "competition/competition/_competition_detail.html" %}
    </div>
  </div>
{% endblock %}
