{% extends "competition/competition_base_plain.html" %}
{% load competition_tags %}

{% block page-header %}
  <div class="page-header">
    <h1>Competitions</h1>
  </div>
{% endblock %}

{% block competition_content %}
    {% for competition in competitions %}
      <div class="well">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="media">
              <a class="pull-left" href="{{ competition.get_absolute_url }}">
                {% if competition.image %}
                  <img class="media-object" src="{{ competition.thumbnail_url }}" alt="{{ competition.name }}" />
                {% else %}
                  <img class="media-object" src="{{ competition.DEFAULT_THUMB }}" alt="{{ competition.name }}" />
                {% endif %}
              </a>
              <div class="media-body">
                <a href="{{ competition.get_absolute_url }}">
                  <h4 class="media-heading">{{ competition.name }}</h4>
                </a>
                {{ competition.description }}
                <h4>
                  <span class="label label-{% if competition.is_open %}success {% else %}danger{% endif %} label-lg">
                    {% if competition.is_open %}
                      Currently Open!
                    {% else %}
                      Currently Closed :(
                    {% endif %}
                  </span>
                </h4>
                <h4>
                  <span class="label label-{% if competition.is_running %}success {% else %}danger{% endif %} label-lg">
                    {% if competition.is_running %}
                      Running!
                    {% else %}
                      Not Running :(
                    {% endif %}
                  </span>
                </h4>
              </div>
            </div>
          </div>

          <!-- Right Side -->
          <div class="col-xs-4 hidden-xs hidden-sm">
            <div class="panel panel-info" style="margin-top:20px;">
              <div class="panel-heading">Competition Statistics</div>
              <div class="panel-body">
                <span class="badge">
                  {% registered_users_count competition %}
                </span>
                 Registered Users
                <br>
                <span class="badge">
                  {% freeagent_count competition %}
                </span>
                 Free Agents
                <br>
                <span class="badge">
                  {{ competition.game_set.count }}
                </span>
                 Games Played
              </div>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <h2>No competitions, yet.</h2>
    {% endfor %}
  {% include "competition/_paginator.html" with page=page_obj %}
{% endblock %}
