{% extends "competition/competition_base.html" %}
{% load url from future %}

{% block page-header %}
  <div class="page-header" style="margin-top:20px;">
    <div class="row">
      <div id="name" class="col-sm-9 col-md-9">
        <h1>{{ competition.name }}</h1>
      </div>
      {% if not user_registered and competition.is_open %}
        <div class="col-sm-3 col-md-3">
          <a class="btn btn-primary pull-right btn-lg" href="{% url 'register_for' competition.slug %}">
             Register now!
          </a>
        </div>
      {% endif %}
    </div>
    <p style="font-size:16px;">
      <i>{{ competition.description }}</i>
    </p>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    {% if competition.avatar %}
      <div id="avatar" class="col-sm-3 col-md-3">
        <a href="{{ competition.avatar.image.url }}">
          <img src="{{ competition.avatar.image.url }}" class="img-polaroid" alt="{{ competition.name }}">
        </a>
      </div>
    {% endif %}
    <div class="col-sm-9 col-md-9">
      <h2>Details</h2>
      {% include "competition/competition/_competition_detail.html" %}
      {% if user.is_authenticated and competition.is_open and not user_team %}
        <p class="text-info text-center">
          <span class="label label-info">Heads up</span>
          You must be on a team to access competition code. Be
          sure to join one!
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $(function() {
      if($("#no-sidebar").length > 0) {
        $("#name").removeClass('span7').addClass('span10');
        $("#avatar").removeClass('span5').addClass('span8');
      }
    });
  </script>
{% endblock %}
