{% for score in scores %}
  {% if forloop.first %}<ul class="list-unstyled" style="margin-bottom:0">{% endif %}
  <li>
    {% if score.team == user_team %}
      <strong><a href="{{ score.team.get_absolute_url }}">{{ score.team.name }}</a></strong>:
    {% else %}
      <a href="{{ score.team.get_absolute_url }}">{{ score.team.name }}</a>:
    {% endif %}

    {% if score.score == game.max_score %}
      <span class="label label-success">{{ score.score }}</span>
    {% else %}
      {{ score.score }}
    {% endif %}
  </li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
