{% extends "base.html" %}

{% block page-header %}
  <div class="page-header">
    <h1>Invitation</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="well">
    <h2>Invitation to <a href="{{ invitation.team.get_absolute_url }}"><i>{{ invitation.team.name }}</i></a></h2>
    <p>
      <span><strong>To:</strong> {{ invitation.receiver }}</span><br>
      <span><strong>From:</strong> {{ invitation.sender }}</span><br>
      <span><strong>Sent:</strong> {{ invitation.sent }}</span><br>
      <span>
        <strong>Competition:</strong>
        <a href="{{ invitation.team.competition.get_absolute_url }}">
          {{ invitation.team.competition.name }}
        </a>
      </span>
    </p>

    <hr>

    <p>
      {{ invitation.message }}
    </p>

    <br>

    {% if invitation.response == 'A' %} {# Accepted #}
      <a href="#" class="btn btn-success disabled">
        Accepted
      </a>
    {% endif %}

    {% if invitation.response == 'D' %} {# Declined #}
      <a href="#" class="btn btn-danger disabled">
        Declined
      </a>
    {% endif %}

    {% if invitation.receiver == user and not invitation.response %}
      <a data-toggle="modal" data-target="#acceptInviteModal" class="btn btn-success" href="#">
        Accept Invitation
      </a>
      <a data-toggle="modal" data-target="#declineInviteModal" class="btn btn-danger" href="#">
        Decline Invitation
      </a>
    {% endif %}
  </div>


  {% with team=invitation.team.name %}
    {# Accept modal #}
    {% url "invitation_accept" pk=invitation.pk as accept_invite%}
    {% with body="Are you sure you want to join "|add:team|add:"?" %}
      {% with warning="Joining a new team will cause you to leave any other teams you have joined for "|add:invitation.team.competition.name|add:"!" %}
        {% include "competition/_confirmation_modal.html" with id="acceptInviteModal" title="Accept Invitation?" body=body warning=warning action=accept_invite %}
      {% endwith %}
    {% endwith %}

    {# Decline modal #}
    {% url "invitation_decline" pk=invitation.pk as decline_invite%}
    {% with body="Are you sure you want to decline your invitation to join "|add:team|add:" for "|add:invitation.team.competition.name|add:"?" %}
      {% include "competition/_confirmation_modal.html" with id="declineInviteModal" title="Decline Invitation?" body=body action=decline_invite %}
    {% endwith %}
  {% endwith %}

{% endblock %}
