{% extends "base.html" %}
{% load url from future %}

{% block page-header %}
  <div class="page-header">
    <h1>Your Invitations</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span6">
      <h2>Received Invitations</h2>
      {% include "competition/invitation/_invitation_list.html" with invitations=received %}
    </div>
    <div class="span6">
      <h2>Sent Invitations</h2>
      {% include "competition/invitation/_invitation_list.html" with invitations=sent %}
    </div>
  </div>
{% endblock %}
