{% extends "base.html" %}

{% block content %}  
  <h1>Invitation to {{ invitation.team.name }}</h1>
  <ul>
	<li>sent from: {{ invitation.sender }}</li>
	<li>sent to: {{ invitation.receiver }}</li>
	<li>message: {{ invitation.message	}}</li>
	<li>sent at: {{ invitation.sent }}</li>
	<li>read? {{ invitation.read }}</li>
	<li>response? {{ invitation.response|default:"None" }}</li>
  </ul>

{% if invitation.receiver == user %}
  <a href="{% url invitation_accept pk=invitation.pk %}"> Accept Invitation</a>
  <a href="{% url invitation_decline pk=invitation.pk %}"> Decline Invitation</a>
{% endif %}
{% endblock %}
